/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #590f7e;
  --ifm-color-primary-dark: #480766;
  --ifm-color-primary-darker: #4c0d71;
  --ifm-color-primary-darkest: #560c66;
  --ifm-color-primary-light: #540c76;
  --ifm-color-primary-lighter: #560b67;
  --ifm-color-primary-lightest: #470a6b;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #49076db2;
  --ifm-color-primary-dark: #480880;
  --ifm-color-primary-darker: #5b0e8b;
  --ifm-color-primary-darkest: #4e0b7e;
  --ifm-color-primary-light: #420c84;
  --ifm-color-primary-lighter: #400778;
  --ifm-color-primary-lightest: #540a85;
  --docusaurus-highlighted-code-line-bg: rgba(41, 132, 139, 0.3);
}
